img {
  height: 900px;
  width: 1600px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
}

.satu {
  background-color: aliceblue;
  height: 800px;
  width: 600px;
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: -1;
  overflow: scroll;
}
p {
  text-align: right;
}
h1 {
  text-align: right;
  margin-top: 60 px;
}
